.content-padding {
  padding: 50px 0 105px;
}
h1 {
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
  font-size: 25px;
  color: #242a3a;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
h3 {
  color: #242a3a;
}
.header-title {
  text-transform: uppercase;
  font-size: 25px;
  color: #242a3a;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.header-title small {
  color: #faa534;
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-transform: none;
  line-height: 18px;
  letter-spacing: 0;
  text-align: center;
}
.facts {
  margin-top: 15px;
  margin-bottom: 25px;
  line-height: 2em;
}
.facts ol {
  list-style: none;
}
.facts ol li {
  display: flex;
}
.facts span {
  margin-right: 15px;
}
.facts-last {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 2em;
}
.facts-last ol {
  list-style: none;
}
.facts-last ol li {
  display: flex;
}
.facts-last span {
  margin-right: 15px;
}
