*{
    margin: 0px;
    padding: 0px;
}
// .airline-partner{
//     margin: 0 auto;
//     max-width: 1170px;
// }
h2{
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
    color: #242A3A;
    font-weight: 600;
    letter-spacing: 1px;
}
h1{
    text-transform: uppercase;
}