* {
  padding: 0;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
}
.app-container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
