* {
  margin: 0;
  padding: 0;
}
.overview {
  background-color: #fff;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.company-overview {
  background-color: #e4e6e5;
}

.overview-text {
  line-height: 2em;
  max-width: 50%;
  text-align: center;
  overflow: hidden;
  // text-overflow: ellipsis;
  height: 140px;
  position: relative;
  transition: 0.4s all ease-in;
  padding: 20px;
}
.overview-text.active {
  height: 400px;
  transition: 0.4s all ease-in;
}
.company-overview .show-more {
  background: #e4e6e5;
  text-align: center;
  padding-top: 4px;
  display: block;
  width: 100%;
}
.company-overview .show-more span {
  cursor: pointer;
  background: #ffffff;
  padding: 7px 28px;
  z-index: 1;
  text-transform: capitalize;
  color: #0a56bb;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 2px 1px #c5c5c5;
}
.company-overview .show-more span:hover {
  background: #f7f7f7;
}
.down-arrow {
  margin-right: 10px;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  font-size: 17px;
  font-weight: bold;
  vertical-align: center;
  margin-right: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-bottom: 0;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 0;
}
