.header {
  max-width: 100%;
  background-color: #0a56bb;
  padding-top: 10px;
}
.menu-header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  .logo {
    flex: 1;
    img {
      vertical-align: center;
    }
    p {
      color: #ffffff;
    }
  }
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      margin: 0 13px;
    }
  .menu-outlined {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .menu-header {
    .logo {
      p {
        display: none;
      }
    }
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item,
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
      margin: 0 7px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    padding-bottom: 10px;
    .menu-header {
      .logo {
        p {
          display: none;
        }
      }
      .menu-outlined {
        display: inline-block;
        color: #f1f1f1;
        font-size: 30px;
        vertical-align: middle;
        margin-top: 7px;
      }
    }
  }
}
