*{
    margin: 0px;
    padding: 0px;
}
.partner{
    width: 100%;
    height: 120px;
}
.pcard{
    max-width: 100%;
    height: 100px;
    // background-color: lightgray;
    padding: 10px;
}
.logo{
    width: 10%;
    height: 100px;
    float: left;
    padding-top: 5px;
    // background-color: lightgray;
}
.title{
    width: 85%;
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}