.city {
  width: 250px;
  height: 400px;
  cursor: pointer;
  // background: gray;
}
.city-image {
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
  transition: 0.3s all ease-in;
}
.city:hover .city-image{
    box-shadow: 0px 0px 5px gray;
    background-size: 110% 110%;
    transition: 0.3s all ease-in;
}
.city-name {
  height: 10%;
  color: black;
  padding: 5px;
}
.city-name p {
  text-align: left;
}
.city:hover .city-name {
  color: #1890ff;
  font-weight: bold;
  transition: 0.3s all ease-out;
}

