.popular-route-wrap{
    background: url('../assets/images/jpg/pupular-route-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.popular-route-wrap h2{
    color: #fff;
}