.city {
  width: 95%;
  height: 300px;
  cursor: pointer;
  padding: 5px;
  // background: gray;
}
.city-image {
  height: 92%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
  transition: 0.3s all ease-in;
}
.city:hover .city-image{
    box-shadow: 0px 0px 5px gray;
    background-size: 110% 110%;
    transition: 0.3s all ease-in;
}

.city-name{
  height: 8%;
  margin-top: 10px;
  
  // color: black;
  // padding: 5px;
}
.city-name span{
  color: black;
  // padding: 5px;
  transition: 0.3s all ease-out;
  text-align: left;
  font-weight: bold;
  
}
.city:hover .city-name span{
  color: #0a56bb;
  font-weight: bold;
  border-left: 2px solid #FAA534;
  padding-left: 10px;
  
  transition: 0.3s all ease-out;
}

