.popular-airline {
  border-top: 1px dashed #bdbdbd;
  border-bottom: 1px dashed #bdbdbd;
  background: #fff;
}
.popular-airline .airline-block {
  display: flex;
  justify-content: space-between;
}
.popular-airline .airline-block .col-title {
  flex: 1;
  padding: 70px 80px 40px 0;
}
.popular-airline .airline-block .col-title .header-title {
  text-align: right;
}
.popular-airline .airline-block .col-title .header-title small {
  text-align: right;
}
.popular-airline .airline-block .col-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  border-right: 1px dashed #bdbdbd;
  margin-right: 50px;
}
.popular-airline .airline-block .col-image h3 {
  color: #707070;
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}
.popular-airline .airline-block .col-image:last-child {
  margin-right: 0;
  border-right: none;
}
