.promotion-wrap {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(0deg, #f9f9f9 0%, rgba(249, 249, 249, 0) 100%);
}
.promotion-wrap .promotion-card-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promotion-wrap .route-toggle {
  margin-bottom: 20px;
  text-align: center;
}
.promotion-wrap .route-toggle span {
  cursor: pointer;
  background: none;
  font-size: 18px;
  margin-right: 10px;
  margin-left: 20px;
  height: 40px;
  transition: 0.3s all ease-out;
}
.promotion-wrap .route-toggle span.active {
  color: #404040;
  border-bottom: 2px solid #faa534;
  padding-bottom: 5px;
  font-weight: bold;
  height: 40px;
  line-height: 38px;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3s all ease-out;
}
