.promotion-card {
  flex: 0 24%;
  box-shadow: 0 0 6px #00000029;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  background-color: #fff;
  transition: 0.3s all ease-in;
}
.promotion-card .ant-card-body {
  padding: 10px;
}
.promotion-card:hover {
  box-shadow: 4px 6px 7px rgb(192, 192, 192);
}
.promotion-card .card-content .card-info {
  padding: 10px;
  border-bottom: 1px solid #00000029;
}
.promotion-card .card-content .route span {
  color: #0a56bb;
  font-weight: bold;
  font-size: 16px;
}
.promotion-card .card-discount {
  padding: 10px;
}
.promotion-card .card-discount span {
  font-size: 16px;
  color: red;
}
@media only screen and (max-width: 992px) {
    .promotion-card {
      flex: 0 49%;
      margin-bottom: 20px;
    }
  }
@media only screen and (max-width: 768px) {
  .promotion-card {
    flex: 1 100%;
    margin-bottom: 20px;
  }
}

